{% extends "base.html" %}

{% block content %}

<style>
  h1{
    text-align: center;
  }
  body {background-color: rgb(198, 220, 228);}
  p {color: rgb(17, 17, 17);
  font-family: "Arial, sans-serif";
  text-align: center;}
</style>

<h1><strong> PURCHASE </strong></h1>

<hr>

{% for msg in get_flashed_messages() %}
    <h2> {{ msg }} </h2>
{% endfor %}

<hr>

<form action="/purchase", method="POST" border="2" align="center" style="background-color: #8facbd;">
  <label for="item_name">Item name:</label>
  <input  id="item_name" name="item_name" type="text" required>
  <br>
  <br>
  <label for="item_quantity">Quantity:</label>
  <input id="item_quantity" name="item_quantity" type="number" min="0" required>
  <br>
  <br>
  <label for="price">Price:</label>
  <input id="price" name="price" type="text" required>
  <br>
  <br>
  <input type="submit">
</form>

{% endblock%}